<!DOCTYPE html>
<html>
  <head>
    <title>LabelerApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://api-maps.yandex.ru/2.1/?loag=package.full&lang=ru_RU&coordorder=longlat" type="text/javascript"></script>
    <script src="https://yandex.st/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='map.js') }}" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <style>
      html,body {width:100%;height:100%;margin:0;padding:0;}

      #map {
        display: block;
        position: absolute;
        height: auto;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand">LabelerApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto" style="background-color: transparent;">
          <li class="nav-item active">
            <a class="nav-link">Пройденных заданий<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Всего доступных</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Следующее задание</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Переместиться к разметке</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Выйти</a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="map"></div>
  </body>
</html>
